<div class="main__container about">
    <h1>Sobre Nosotros</h1>
    <p>
        ¡Saludos, pequeños exploradores y amantes de la diversión! ¡Bienvenidos
        a <b>JUGUETERIA COSMICA</b>, la juguetería donde tus sueños cobran vida
        y saltan de alegría! Soy vuestro anfitrión animado, un entusiasta
        juguetón lleno de energía y emoción. En <b>JUGUETERIA COSMICA</b>, no
        solo vendemos juguetes, ¡sino que creamos momentos mágicos y llenos de
        risas!
    </p>
    <p>
        Nuestro equipo de trabajo está formado por un grupo de personas
        apasionadas y expertas en el mundo de los juguetes. Desde diseñadores
        creativos hasta expertos en juegos, cada uno de nosotros trabaja
        incansablemente para seleccionar los juguetes más emocionantes y
        educativos del mercado. Queremos que cada visita a
        <b>JUGUETERIA COSMICA</b> sea una experiencia inolvidable para ti y tus
        amigos.
    </p>
    <p>
        ¿Y dónde puedes encontrarnos? ¡En todas partes donde la diversión esté
        presente! Hemos abierto sucursales en diferentes ciudades, desde
        animados centros comerciales hasta coloridos rincones en el corazón de
        la ciudad. Puedes encontrarnos en los lugares más emocionantes y
        vibrantes, siempre listos para brindarte una experiencia única.
    </p>
    <p>
        Y, por supuesto, nuestros horarios de atención están adaptados a los
        horarios de juego. Sabemos que la diversión no tiene límites de tiempo,
        por lo que nuestras puertas están abiertas de lunes a domingo, desde
        temprano en la mañana hasta la noche. ¡Ven a visitarnos cuando quieras y
        déjanos sorprenderte con nuestra amplia selección de juguetes y
        actividades que harán volar tu imaginación!
    </p>
    <p>
        En <b>JUGUETERIA COSMICA</b>, queremos ser tu compañero de aventuras y
        tu fuente de alegría. Nos esforzamos por brindarte no solo juguetes,
        sino también momentos inolvidables. ¡Así que únete a nosotros en
        <b>JUGUETERIA COSMICA</b>, donde la diversión nunca termina y la emoción
        está garantizada!
    </p>

    <section class="contenido">
        <h2 class="cedes__h2">Conoce dónde están ubicadas nuestras cedes</h2>

        <div class="ubicaciones">
            <div class="contenido-1">
                <h3 class="cabildo">Cabildo</h3>
                <p>
                    En nuestra tienda en Cabildo, encontrarás un espacio moderno
                    y colorido. Contamos con una diversidad de juguetes para
                    bebés, niños y niñas, así como una sección especial de
                    juegos de mesa y figuras coleccionables.
                </p>

                <h3 class="palermo">Palermo</h3>
                <p>
                    Aquí, los visitantes descubrirán una variada gama de
                    juguetes, desde los últimos lanzamientos hasta los favoritos
                    de siempre, atendiendo a todos los intereses y preferencias.
                </p>
            </div>

            <div class="contenido-2">
                <h3 class="vicenteLopez">Vicente Lopez</h3>
                <p>
                    Ofrecemos una amplia selección de juguetes para todas las
                    edades, con un enfoque en juguetes educativos y clásicos.
                </p>

                <h3 class="tigre">Tigre</h3>
                <p>
                    Nuestra tienda en Tigre ofrece una experiencia única cerca
                    de la naturaleza. Con una decoración temática, podrás
                    encontrar juguetes para disfrutar tanto en interiores como
                    al aire libre, y contamos con una zona de juegos para que
                    los pequeños se diviertan mientras eligen sus juguetes
                    favoritos.
                </p>
            </div>
        </div>
    </section>
</div>
