
<div class="container__contact">
    <div class="contact__box">
        <div class="left"></div>
        <div class="right">
            <h2>Contactanos 📩</h2>
            <input type="text" class="field" placeholder="Nombre" />
            <input type="text" class="field" placeholder="Apellido" />
            <input type="text" class="field" placeholder="ejemplo@gmail.com" />
            <textarea class="field" placeholder="Mensaje"></textarea>
            <button class="btn-content-form">Enviar</button>
        </div>
    </div>
</div>
