<div class="main__container">
    <h1>Preguntas Frecuentes</h1>
    <h2 class="accordion-faq">Como comprar juguete? 💵</h2>
    <div class="accordion-content open">
        <p>
            Para comprar en Juguetería Cósmica, puedes visitar nuestra tienda
            física o realizar compras a través de nuestro sitio web. En la
            tienda, podrás recorrer los pasillos y elegir tus juguetes favoritos
            directamente. Si prefieres comprar en línea, solo debes navegar por
            nuestra amplia selección de juguetes, agregar los productos que
            deseas al carrito y seguir el proceso de pago seguro.
        </p>
    </div>

    <h2 class="accordion-faq">Sucursales cercanas 🏬</h2>
    <div class="accordion-content open">
        <p>
            Contamos con diversas sucursales estratégicamente ubicadas para que
            puedas encontrar la más cercana a ti. Puedes consultar la ubicación
            de nuestras tiendas en nuestro sitio web o llamarnos para obtener
            información sobre nuestras direcciones.
        </p>
    </div>

    <h2 class="accordion-faq">Marcas aderidas ®</h2>
    <div class="accordion-content open">
        <p>
            En Juguetería Cósmica, trabajamos con una amplia gama de marcas
            reconocidas y populares. Desde las marcas clásicas hasta las últimas
            novedades en juguetes, nos esforzamos por ofrecer productos de alta
            calidad y variedad para satisfacer los gustos de nuestros clientes.
        </p>
    </div>

    <h2 class="accordion-faq">Reembolso 💰</h2>
    <div class="accordion-content open">
        <p>
            Si necesitas realizar un reembolso, contamos con una política clara
            y transparente. Si el juguete que compraste presenta algún defecto o
            problema, puedes devolverlo dentro del plazo establecido y te
            ofreceremos un reembolso completo o el cambio por otro artículo de
            igual valor.
        </p>
    </div>

    <h2 class="accordion-faq">Queres trabajar con nosotros? ⚒</h2>
    <div class="accordion-content open">
        <p>
            Si estás interesado en formar parte de nuestro equipo en Juguetería
            Cósmica, te recomendamos que revises nuestras oportunidades
            laborales disponibles. Puedes enviar tu currículum o ponerte en
            contacto con nosotros para conocer más acerca de las vacantes
            disponibles.
        </p>
    </div>
</div>
